* {
  margin: 0 auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-elmo: red;
  --color-cookie: blue;
}

.cookie-color{
  background: var(--color-cookie)
}

.elmo-color {
  background: var(--color-elmo)
}

body {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background:var(--color-elmo);
  padding: 10px;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 8px;
}

#click {
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: 5;
  display: block;
}
.character-btn {
  margin-top: 10px;
}
.contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 150px;
  margin-top: 10px;
}

.elmo {
  background: var(--color-elmo);
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.cookie {
  background: var(--color-cookie);
  border-radius: 50%;
  width: 400px;
  height: 250px;
}

#head {
  box-shadow: 10px 10px 100px black;
  top: 50px;
}

#eyes {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  background: none;
  width: 250px;
  top: -50px;
}

.eyewrap {
  background: none;
  box-shadow: 10px 10px 15px 0px black;
  border-radius: 50%;
}
.elmo--eye {
  width: 140px;
  height: 130px;
}
.cookie--eye {
  width: 120px;
  height: 120px;
}

.eye {
  background: white;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px black;
  transition-duration: 500ms;
}

.moveEye{
  position: relative;
  left: -30px;
}

.eyeball {
  background: black;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  top: 50px;
  left: 0px;
  transition-duration: 500ms;
}

.elmo--nose {
  background: orange;
  border-radius: 50%;
  border: 5px solid black;
  position: relative;
  top: -100px;
  box-shadow: 10px 10px 15px 0px black;
}

#nose {
  width: 130px;
  height: 150px;
  position: relative;
  top: -100px;
  
  transition-duration: 500ms;
}
.elmo--mouth {
  width: 300px;
  height: 140px;
  background: black;
  border-radius: 0 0 150px 150px;
  position: relative;
  top: -100px;
  transform: rotateX(44deg);
}
.cookie--mouth {
  top: -200px;
}
#mouth {
  width: 300px;
  height: 140px;
  background: black;
  border-radius: 0 0 150px 150px;
  position: relative;
  transform: rotateX(44deg);
  transition-duration: 500ms;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}